In [1]:
import pandas as pd  
import numpy as np
import math

In [2]:
# reading the data

apartment_data = pd.read_csv('BukitTimah.csv')
ammenities_data = pd.read_csv('primaryschoolsg.csv')

In [3]:
apartment_data.head()

,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,resale_price,Address,Latitude,Longitude
0,BUKIT TIMAH,4 ROOM,4,TOH YI DR,07 TO 09,104,Model A,670000.0,4 TOH YI DR,1.338512,103.774570
1,BUKIT TIMAH,5 ROOM,5,FARRER RD,10 TO 12,120,Standard,890000.0,5 FARRER RD,1.316560,103.807288
2,BUKIT TIMAH,EXECUTIVE,15,TOH YI DR,01 TO 03,146,Maisonette,876888.0,15 TOH YI DR,1.339311,103.772051
3,BUKIT TIMAH,3 ROOM,4,QUEEN'S RD,07 TO 09,74,Improved,425000.0,4 QUEEN'S RD,1.318832,103.808062
4,BUKIT TIMAH,5 ROOM,17,TOH YI DR,01 TO 03,122,Improved,710000.0,17 TOH YI DR,1.339769,103.772556

In [4]:
ammenities_data.head()

,Name,Type,GenderMix,Area,Zone,PostalCode,Latitude,Longitude
0,Admiralty Primary School,Government,Mixed,Woodlands,North,738907,1.4427,103.7995
1,Ahmad Ibrahim Primary School,Government,Mixed,Yishun,North,768643,1.4333,103.8321
2,Ai Tong School,"Government-aided, SAP",Mixed,Bishan,South,579646,1.3603,103.8321
3,Alexandra Primary School,Government,Mixed,Bukit Merah,South,159016,1.2913,103.8233
4,Anchor Green Primary School,Government,Mixed,Sengkang,North,544969,1.3913,103.8863

In [6]:
def haversine(lo1, la1, lo2, la2, d2r):
    dist = 0

    dlong = d2r * (lo2 - lo1)
    dlat = d2r * (la2 - la1)

    a = pow(math.sin(dlat/2),2) + math.cos(la1*d2r) * math.cos(la2*d2r) * pow(math.sin(dlong/2),2)
    c = 2 * math.atan2(math.sqrt(a),math.sqrt(1-a))
    dist = c * 6367

    return dist

In [45]:
d2r = math.pi/180
output = pd.DataFrame()

for index_ap, row_ap in apartment_data.iterrows():
    for index_am, row_am in ammenities_data.iterrows():
        
        Lat1 = row_ap['Latitude']
        Lon1 = row_ap['Longitude']
        Lat2 = row_am['Latitude']
        Lon2 = row_am['Longitude']
        
        dist = haversine(Lon1, Lat1, Lon2, Lat2, d2r)
        
        if dist < 2:
            new_row = {'Apartment':row_ap['Address'],
                       'Block':row_ap['block'],
                       'Distance':dist,
                      'Name':row_am['Name']}
            new_row = pd.DataFrame(new_row, index=[len(output)])
            new_row= pd.merge(new_row, ammenities_data.iloc[[index_am]])
            output = pd.concat([output, new_row])

In [46]:
output.head(20)

,Apartment,Block,Distance,Name,Type,GenderMix,Area,Zone,PostalCode,Latitude,Longitude
0,4 TOH YI DR,4,0.877334,Bukit Timah Primary School,Government,Mixed,Bukit Timah,West,598112,1.3371,103.7668
0,4 TOH YI DR,4,1.064874,Methodist Girls' School (Primary),Government-aided,Girls,Bukit Timah,West,599986,1.3336,103.7828
0,4 TOH YI DR,4,0.236655,Pei Hwa Presbyterian Primary School,"Government-aided, SAP",Mixed,Bukit Timah,West,597610,1.3385,103.7767
0,5 FARRER RD,5,1.858799,CHIJ (Kellock),Government-aided,Girls,Bukit Merah,South,149059,1.3011,103.8009
0,5 FARRER RD,5,0.430553,Nanyang Primary School,"Government-aided, SAP",Mixed,Bukit Timah,West,268097,1.3203,103.8083
0,5 FARRER RD,5,1.447441,Raffles Girls' Primary School,Government,Girls,Bukit Timah,South,289072,1.3295,103.8058
0,15 TOH YI DR,15,0.633032,Bukit Timah Primary School,Government,Mixed,Bukit Timah,West,598112,1.3371,103.7668
0,15 TOH YI DR,15,1.787661,Keming Primary School,Government,Mixed,Bukit Batok,West,659762,1.3450,103.7570
0,15 TOH YI DR,15,1.352269,Methodist Girls' School (Primary),Government-aided,Girls,Bukit Timah,West,599986,1.3336,103.7828
0,15 TOH YI DR,15,0.524229,Pei Hwa Presbyterian Primary School,"Government-aided, SAP",Mixed,Bukit Timah,West,597610,1.3385,103.7767
0,4 QUEEN'S RD,4,0.165233,Nanyang Primary School,"Government-aided, SAP",Mixed,Bukit Timah,West,268097,1.3203,103.8083
0,4 QUEEN'S RD,4,1.211797,Raffles Girls' Primary School,Government,Girls,Bukit Timah,South,289072,1.3295,103.8058
0,17 TOH YI DR,17,0.704909,Bukit Timah Primary School,Government,Mixed,Bukit Timah,West,598112,1.3371,103.7668
0,17 TOH YI DR,17,1.823342,Keming Primary School,Government,Mixed,Bukit Batok,West,659762,1.3450,103.7570
0,17 TOH YI DR,17,1.328571,Methodist Girls' School (Primary),Government-aided,Girls,Bukit Timah,West,599986,1.3336,103.7828
0,17 TOH YI DR,17,0.481480,Pei Hwa Presbyterian Primary School,"Government-aided, SAP",Mixed,Bukit Timah,West,597610,1.3385,103.7767
0,5 TOH YI DR,5,0.866645,Bukit Timah Primary School,Government,Mixed,Bukit Timah,West,598112,1.3371,103.7668
0,5 TOH YI DR,5,1.052229,Methodist Girls' School (Primary),Government-aided,Girls,Bukit Timah,West,599986,1.3336,103.7828
0,5 TOH YI DR,5,0.244146,Pei Hwa Presbyterian Primary School,"Government-aided, SAP",Mixed,Bukit Timah,West,597610,1.3385,103.7767
0,5 TOH YI DR,5,0.866645,Bukit Timah Primary School,Government,Mixed,Bukit Timah,West,598112,1.3371,103.7668

In [47]:
output.to_csv('BukitTimah_to_PrimarySchools.csv', index=False)