In [1]:
%load_ext autotime
import pandas as pd
import geopandas as gpd
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import matplotlib.pyplot as plt
import plotly_express as px
import tqdm 
from tqdm.notebook import tqdm_notebook

time: 1.08 s (started: 2023-01-22 02:38:24 +08:00)

In [2]:
locator = Nominatim(user_agent="myGeocoder")
coordinates = "1.281260, 103.844358"
location = locator.reverse(coordinates)
location.raw

{'place_id': 120847146,
 'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 47298635,
 'lat': '1.28150925',
 'lon': '103.84418920262593',
 'display_name': 'Buddha Tooth Relic Temple, 288, South Bridge Road, Shenton Way, Outram, Singapore, Central, 058840, Singapore',
 'address': {'building': 'Buddha Tooth Relic Temple',
  'house_number': '288',
  'road': 'South Bridge Road',
  'suburb': 'Outram',
  'city': 'Singapore',
  'county': 'Central',
  'ISO3166-2-lvl6': 'SG-01',
  'postcode': '058840',
  'country': 'Singapore',
  'country_code': 'sg'},
 'boundingbox': ['1.2812129', '1.2817778', '103.8438577', '103.8446035']}

time: 860 ms (started: 2023-01-22 02:38:26 +08:00)

In [3]:
print(location.address)

Buddha Tooth Relic Temple, 288, South Bridge Road, Shenton Way, Outram, Singapore, Central, 058840, Singapore
time: 0 ns (started: 2023-01-22 02:38:26 +08:00)

In [4]:
df = pd.read_csv(r"C:\Users\Nathan\Desktop\studies\ADO\Lta test taxi stop.csv")
df.head()

    Name   Type   Longitude  Latitude  Long round  Lat round
0  kml_1  Point  103.844358  1.281261  103.844358   1.281261
1  kml_2  Point  103.847446  1.281409  103.847446   1.281409
2  kml_3  Point  103.847510  1.310559  103.847510   1.310559
3  kml_4  Point  103.845270  1.282391  103.845270   1.282391
4  kml_5  Point  103.846251  1.282479  103.846251   1.282479

time: 15 ms (started: 2023-01-22 02:38:28 +08:00)

In [5]:
df["geom"] = df["Lat round"].map(str) + "," + df["Long round"].map(str)
df["geom"][0]

'1.281261,103.844358'

time: 16 ms (started: 2023-01-22 02:38:43 +08:00)

In [6]:
locator = Nominatim(user_agent="myGeocoder", timeout=10)
rgeocode = RateLimiter(locator.reverse, min_delay_seconds=0.001)

time: 0 ns (started: 2023-01-22 02:38:45 +08:00)

In [7]:
tqdm_notebook.pandas(desc='My bar!')

df["address"] = df["geom"].progress_apply(rgeocode)
df.head()

0it [00:00, ?it/s]

  0%|          | 0/350 [00:00<?, ?it/s]

,Name,Type,Longitude,Latitude,Long round,Lat round,geom,address
0,kml_1,Point,103.844358,1.281261,103.844358,1.281261,"1.281261,103.844358","(Buddha Tooth Relic Temple, 288, South Bridge ..."
1,kml_2,Point,103.847446,1.281409,103.847446,1.281409,"1.281409,103.847446","(Thian Hock Keng Temple, Amoy Street, Chinatow..."
2,kml_3,Point,103.847510,1.310559,103.847510,1.310559,"1.310559,103.84751",(Kandang Kerbau Women's and Children's Hospita...
3,kml_4,Point,103.845270,1.282391,103.845270,1.282391,"1.282391,103.84527","(D16, South Bridge Road, Chinatown, Outram, Si..."
4,kml_5,Point,103.846251,1.282479,103.846251,1.282479,"1.282479,103.846251","(D20, Club Street, Chinatown, Outram, Singapor..."

time: 3min 10s (started: 2023-01-22 02:38:46 +08:00)

In [14]:
df["address"]

0      (Buddha Tooth Relic Temple, 288, South Bridge ...
1      (Thian Hock Keng Temple, Amoy Street, Chinatow...
2      (Kandang Kerbau Women's and Children's Hospita...
3      (D16, South Bridge Road, Chinatown, Outram, Si...
4      (D20, Club Street, Chinatown, Outram, Singapor...
                             ...
345    (Little India, Rochor Canal Road, Selegie, Roc...
346    (Newton, Scotts Road, Cairnhill, Newton, Singa...
347    (Radin Mas Community Club, Telok Blangah Cresc...
348    (Upper Changi, 690, Upper Changi Road East, Ta...
349    (Upper Changi, 690, Upper Changi Road East, Ta...
Name: address, Length: 350, dtype: object

time: 0 ns (started: 2023-01-22 02:57:30 +08:00)

In [13]:
df.to_csv(r"C:\Users\Nathan\Desktop\Assignment 2\ado\Carpark information.csv" , index=False)

time: 0 ns (started: 2023-01-22 02:57:28 +08:00)